.box{
    height: 200px;
    margin-bottom: 15px;
    background-color:  #887766;
}

.signUp{
    height:stretch;
    padding:10px;
    margin-bottom: 15px;
    background-color: #555555;
    color:white;
}
.slides{
    height:stretch;
    margin-bottom: 15px;
    background-color:  #887766;
}